body, html{
	height: 100%;
	margin: 0px;
}
div{
	height: 100%;
}
.parallax h1{
	padding-top: 20%;
	margin: 0px;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 80px;
	letter-spacing: 6px;
	word-spacing: 6px;
	color: #FFFFFF;
	font-weight: 700;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;

}
.parallax{
	background-image: url('../Img/background.png');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}
.picture {
	filter: grayscale(100%);
	position: absolute;
	border:10px solid white;
	margin-left: 43%;
    display: inline-block;
    width: 200px;
    height: 200px;
    overflow: hidden;
    border-radius: 50%;
    transform: translateY(calc(0% + 200px));
}
.picture:hover{
	filter: grayscale(0%);
}
.picture img{
    width: auto;
    height: 100%;
    margin-left: -10%;
}
.socialMedia{
	height: 80%;
	background-color: 	
}
#facebook{
	filter: grayscale(100%);
	margin-top: 150px;
	margin-left: 45.7%;
	width: 40px;
	height: 40px;
}
#facebook:hover {
	filter: grayscale(0%);
}
#instagram{
	filter: grayscale(100%);
	margin-top: 150px;
	width: 40px;
	height: 40px;
}
#instagram:hover {
	filter: grayscale(0%);
}
#linkedin{
	filter: grayscale(100%);
	margin-top: 150px;
	width: 40px;
	height: 40px;
}
#linkedin:hover {
	filter: grayscale(0%);
}
.socialMedia p{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 3px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.education{
	padding-left: 8%;
	padding-right: 8%;
	height: 70%;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 3px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.education p, .education h4{
	display: inline-block;
	text-align: left;
}
.education h2{
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 30px;
	letter-spacing: 0px;
	word-spacing: 3px;
	color: #000000;
}
.skills h2{
	text-align: center;
}
.skills{
	height: 70%;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 3px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.languages h2{
	text-align: center;
}
.languages{
	height: 60%;
	text-align: left;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 3px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
.info{
	height: 70%;
	text-align: center;
	font-family: Verdana, Geneva, sans-serif;
	font-size: 20px;
	letter-spacing: 0px;
	word-spacing: 3px;
	color: #000000;
	font-weight: normal;
	text-decoration: none;
	font-style: normal;
	font-variant: normal;
	text-transform: none;
}
input.name{
	margin-top: 10%;
	margin-left: 35%;
	width: 30%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    height: 40px;
    border-radius: 5px;
}
.surname, .e-mail{
	margin-left: 35%;
	margin-top: 0.5%;
	width: 30%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    height: 40px;
    border-radius: 5px;
}
.question{
	margin-left: 35%;
	margin-top: 0.5%;
	width: 30%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    height: 140px;
    border-radius: 5px;
}
.question:focus{
	border: 3px solid tomato;
}
input[type="text"]:focus{
	border: 3px solid tomato;
}
input[type="submit"]{
	margin-left: 35%;
	width: 30%;
	height: 40px;
	background-color: #49bb17;
	color: white;
	border: 3px solid #338310;
	border-radius: 5px;
}
input[type="submit"]:hover{
	margin-left: 35%;
	width: 30%;
	height: 40px;
	background-color: #338310;
	color: white;
	border: 3px solid #338310;
	border-radius: 5px;
}
.parallax p{
	color: white;
	padding-top: 5;
}