@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
html, body {
  height: 100%;
}

body {
  background: #111;
  background-size: 100%;
  font: 60px Rubik;
  text-transform: uppercase;
  margin: 0;
}
/* Navigation bar style */
header{
	position: relative;
}
.navigation-bar {
	z-index: 6;
	position: relative;
	margin: 0;
	display: block;
	text-align: center;
	padding: 0;
}
.navigation-bar li {
	display: inline-block;
}
.navigation-bar li a {
	color: #fff;
	display: block;
	text-decoration: none;
	font-family: 'Passion One', Arial, sans-serif;
	font-smoothing: antialiased;
	text-transform: uppercase;
	overflow: visible;
	line-height: 20px;
	font-size: 24px;
	padding: 15px 10.1px;
}
/* Navigation bar animation style */
.three-d {
	perspective: 200px;
	transition: all .07s linear;
	position: relative;
	cursor: pointer;
}
.three-d:hover .three-d-box, .three-d:focus .three-d-box {
		transform: translateZ(-25px) rotateX(90deg);
	}
.three-d-box {
	transition: all .3s ease-out;
	transform: translatez(-25px);
	transform-style: preserve-3d;
	pointer-events: none;
	position: absolute;
	top: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 100%;
}
.front {
	transform: rotatex(0deg) translatez(25px);
}

.back {
	transform: rotatex(-90deg) translatez(25px);
	color: #ffe7c4;
}

.front, .back {
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: #111;
	padding: 15px 10px;
	color: white;
	pointer-events: none;
	box-sizing: border-box;
}
#nav-about-me{
	border-style: solid;
	border-width: 10px;
	border-color: #e74c3c;
}
#nav-education{
	border-style: solid;
	border-width: 10px;
	border-color: #2980b9;
}
#nav-skills{
	border-style: solid;
	border-width: 10px;
	border-color: #9b59b6;
}
#nav-projects{
	border-style: solid;
	border-width: 10px;
	border-color: #f1c40f;
}
#nav-contact-me{
	border-style: solid;
	border-width: 10px;
	border-color: #2ecc71;
}
#nav-about-me .back{
	background-color: #e74c3c;
}
#nav-education .back{
	background-color: #2980b9;
}
#nav-skills .back{
	background-color: #9b59b6;
}
#nav-projects .back{
	background-color: #f1c40f;
}
#nav-contact-me .back{
	background-color: #2ecc71;
}
/* Animation for the name */
.home-home{
	display: block;
}
svg {
	z-index: 5;
  	position: absolute;
  	width: 100%;
}
.text {
	display: none;
  	fill: none;
  	stroke-width: 2;
  	stroke-linejoin: round;
  	stroke-dasharray: 70 330;
  	stroke-dashoffset: 0;
  	-webkit-animation: stroke 3s infinite linear;
  	animation: stroke 3s infinite linear;
}
.text:nth-child(5n + 1) {
  	stroke: #e74c3c;
  	-webkit-animation-delay: -1.2s;
  	animation-delay: -1.2s;
}
.text:nth-child(5n + 2) {
  	stroke: #f1c40f;
  	-webkit-animation-delay: -2.4s;
  	animation-delay: -2.4s;
}	
.text:nth-child(5n + 3) {
  	stroke: #2980b9;
  	-webkit-animation-delay: -3.6s;
  	animation-delay: -3.6s;
}	
.text:nth-child(5n + 4) {
  	stroke: #9b59b6;
  	-webkit-animation-delay: -4.8s;
  	animation-delay: -4.8s;
}
.text:nth-child(5n + 5) {
	stroke: #2ecc71;
  	-webkit-animation-delay: -6s;
  	animation-delay: -6s;
}
@-webkit-keyframes stroke {
  	100% {
    	stroke-dashoffset: -400;
  	}
}
@keyframes stroke {
  	100% {
    	stroke-dashoffset: -400;
  	}
}
/* Background for home*/
svg .line {
  stroke-dasharray: 1000;
  stroke-dashoffset: 1000;
  animation: dash 5s;
}
svg .line1{
	stroke-dasharray: 1000;
	stroke-dashoffset: 1000;
	animation: dash1 7.5s;
}
@keyframes dash {
  	from {
    	stroke-dashoffset: 1000;
  	}
  	to {
		stroke-dashoffset: -1000;
  	}
}
@keyframes dash1{
	from {
		stroke-dashoffset:1000;
	}
	to {
		stroke-dashoffset:-1000;
	}
}
/* About Me */
.about-me{
	display: none;
	background-color: #111;
}
#profile-pic{
	filter: grayscale(100%);
	margin-top: 7%;
	margin-left: 10%;
	height: 30%;
	width: 30%;
	border: solid 10px white;
	border-bottom-width: 60px;
	display: inline-block;
}
#profile-pic:hover{
	filter: grayscale(0%);
}
.right-about{
	margin-right: 10%;
	width: 40%;
	margin-top: 7%;
  	float: right;
  	display: inline-block;
}
.about-me p{
	width: 100%;
	text-align: justify;
  	color: white;
  	font: 20px Rubik;
  	display: inline-block;
}
#facebook{
	margin-left: 33%;
}
#facebook-img{
	filter: grayscale(100%);
	display: inline-block;
	width: 40px;
	height: 40px;
}
#facebook-img:hover {
	filter: grayscale(0%);
}
#instagram-img{
	filter: grayscale(100%);
	display: inline-block;
	width: 40px;
	height: 40px;
}
#instagram-img:hover {
	filter: grayscale(0%);
}
#linkedin-img{
	filter: grayscale(100%);
	display: inline-block;
	width: 40px;
	height: 40px;
}
#linkedin-img:hover {
	filter: grayscale(0%);
}
#home-img{
	width: 40px;
	height: 40px;
}
#home{
	z-index: 1;
	left: 13%;
	top: 13%;
	position: absolute;
}
/* Education */
.education{
	display: none;
	background-color: #111;
	text-decoration: none;
	margin-top: 5%;
	text-align: center;
  	padding-top: 10px;
 	padding-bottom: 10px;
  	color: white;
  	font: 15px Rubik;
  	text-transform: uppercase;
}
.school{
	margin: 2.5%;
	width: 25%;
	height: 25%;
	display: inline-block;
}
#IUS{
	height: 255px;
	border: solid 10px #2980b9;
}
#SSC{
	height: 255px;
	border: solid 10px #e74c3c;
}
#os6{
	height: 255px;
	border: solid 10px #9b59b6;
}
.school img{
	width: 100%;
	height: 100%;
}
/* Skills */
.skills{
	margin-top: 5%;
	margin-left: 10%;
	display: none;
	text-align: left;
  	padding-top: 10px;
 	padding-bottom: 10px;
  	color: white;
  	font: 20px Rubik;
  	text-transform: uppercase;
}
.container {
	border-radius: 50%;
	height: 10px;
	display: inline-block;
  	width: 40%;
  	background: rgb(5,0,108);
	background: linear-gradient(90deg, rgba(5,0,108,1) 0%, rgba(25,0,107,1) 35%, rgba(255,0,0,1) 100%);
}
.c {
	border-top-right-radius: 40%;
	border-bottom-right-radius: 40%;
	height: 10px;
	margin-left: auto;
	margin-right: 0px;
	width: 10%;
	background-color: #333;
	animation: loadc 4s;
}
@keyframes loadc{
	from {
		width: 100%;
		border-top-right-radius: 40%;
		border-bottom-right-radius: 40%;
	}
	to{
		width: 10%;
		border-top-right-radius: 70%;
		border-bottom-right-radius: 70%;
	}
}
.ruby {
	border-top-right-radius: 40%;
	border-bottom-right-radius: 40%;
	height: 10px;
	margin-left: auto;
	margin-right: 0px;
	width: 55%;
	background-color: #333;
	animation: loadr 4s;
} 
@keyframes loadr{
	from {
		width: 100%;
	}
	to{
		width: 55%;
	}
}
.web {
	border-top-right-radius: 40%;
	border-bottom-right-radius: 40%;
	height: 10px;
	margin-left: auto;
	margin-right: 0px;
	width: 25%;
	background-color: #333;
	animation: loadw 4s;
} 
@keyframes loadw{
	from {
		width: 100%;
	}
	to{
		width: 25%;
	}
}
.python {
	border-top-right-radius: 40%;
	border-bottom-right-radius: 40%;
	height: 10px;
	margin-left: auto;
	margin-right: 0px;
	width: 70%;
	background-color: #333;
	animation: loadp 4s;
} 
@keyframes loadp{
	from {
		width: 100%;
	}
	to{
		width: 70%;
	}
}
.php {
	border-top-right-radius: 40%;
	border-bottom-right-radius: 40%;
	height: 10px;
	margin-left: auto;
	margin-right: 0px;
	width: 40%;
	background-color: #333;
	animation: loadph 4s;
} 
@keyframes loadph{
	from {
		width: 100%;
	}
	to{
		width: 40%;
	}
}
.right{
	margin-right: 10%;
	text-align: right;
	float: right;
	width: 50%;
}
.container2 {
	border-radius: 50%;
	height: 10px;
	display: inline-block;
  	width: 80%;
  	background: rgb(5,0,108);
	background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(25,0,107,1) 65%, rgba(5,0,108,1) 100%);
}
.bs {
	border-top-left-radius: 40%;
	border-bottom-left-radius: 40%;
	height: 10px;
	margin-left: 0px;
	margin-right: auto;
	width: 5%;
	background-color: #333;
	animation: loadbs 4s;
}
@keyframes loadbs{
	from {
		width: 100%;
		border-top-left-radius: 40%;
		border-bottom-left-radius: 40%;
	}
	to{
		width: 5%;
		border-top-left-radius: 99%;
		border-bottom-left-radius: 99%;
	}
}
.en {
	border-top-left-radius: 40%;
	border-bottom-left-radius: 40%;
	height: 10px;
	margin-left: 0px;
	margin-right: auto;
	width: 20%;
	background-color: #333;
	animation: loaden 4s;
}
@keyframes loaden{
	from {
		width: 100%;
		border-top-left-radius: 40%;
		border-bottom-left-radius: 40%;
	}
	to{
		width: 20%;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
	}
}
.de {
	border-top-left-radius: 40%;
	border-bottom-left-radius: 40%;
	height: 10px;
	margin-left: 0px;
	margin-right: auto;
	width: 40%;
	background-color: #333;
	animation: loadde 4s;
}
@keyframes loadde{
	from {
		width: 100%;
		border-top-left-radius: 40%;
		border-bottom-left-radius: 40%;
	}
	to{
		width: 40%;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
	}
}
.tr {
	border-top-left-radius: 40%;
	border-bottom-left-radius: 40%;
	height: 10px;
	margin-left: 0px;
	margin-right: auto;
	width: 85%;
	background-color: #333;
	animation: loadtr 4s;
}
@keyframes loadtr{
	from {
		width: 100%;
		border-top-left-radius: 40%;
		border-bottom-left-radius: 40%;
	}
	to{
		width: 85%;
		border-top-left-radius: 50%;
		border-bottom-left-radius: 50%;
	}
}
/* Projects */
.projects{
	text-decoration: none;
	margin-top: 5%;
	display: none;
	text-align: center;
  	padding-top: 10px;
 	padding-bottom: 10px;
  	color: white;
  	font: 20px Rubik;
  	text-transform: uppercase;
}
.projects li{
	list-style-type: none;
	margin-top: 8%;
}
.projects li a{
	text-decoration: none;
	color: #f1c40f;
	background-color: #111;
}
.project{
	width: 25%;
	height: 25%;
	margin: 10px;
	display: inline-block;
}
.links{
	opacity: 0;
	position: absolute;
	text-align: center;
	margin-top: 10%;
	margin-left: 2.5%;
	text-decoration: none;
}
#portfolio:hover .links{
	opacity: 0.8;
}
.projects img{
	width: 100%;
	height: 100%;
}
/* Contact Me */
.contact-me{
	display: none;
	background-color: #111;
	position: absolute;
	margin-top: 5%;
	width: 100%;
}
.form{
	left: 10%;
	background-color: #111;
	position: absolute;
	width: 25%;
}
input.name{
	width: 100%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    height: 40px;
    border-radius: 5px;
}
.surname, .e-mail{
	width: 100%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    height: 40px;
    border-radius: 5px;
}
.question{
	margin-top: 40px; 
	width: 100%;
    box-sizing: border-box;
    border: 3px solid #ccc;
    outline: none;
    height: 140px;
    border-radius: 5px;
}
.question:focus{
	border: 3px solid tomato;
}
input[type="text"]:focus{
	border: 3px solid tomato;
}
input[type="submit"]{
	width: 100%;
	height: 40px;
	background-color: #49bb17;
	color: white;
	border: 3px solid #338310;
	border-radius: 5px;
}
input[type="submit"]:hover{
	width: 100%;
	height: 40px;
	background-color: #338310;
	color: white;
	border: 3px solid #338310;
	border-radius: 5px;
}
#map{
	position: relative;
	float: right;
	margin-top: 4%;
	right: 5%;
	width: 50%;
	height: 400px;
}